:root {
  --footer-font: monospace;
}
.App {
  max-width: 600px;
  margin: 10% auto;
}
.App footer {
  font-size: 11px;
  text-align: center;
  font-family: var(--footer-font);
  opacity: 0.6;
  display: block;
}
.App a {
  text-decoration: none;
}
@media (max-width: 600px) {
  .App {
    margin: 10% auto;
  }
}
