:root {
  --footer-font: monospace;
}
.App {
  max-width: 600px;
  margin: 0px auto;
}
.App footer {
  font-size: 11px;
  text-align: center;
  font-family: var(--footer-font);
  opacity: 0.6;
  display: block;
}
