:root {
  --primary-background-image: url(./img/winter-nature.jpeg);
  --phone-background-image: url(./img/phone-winter.avif);
}
body {
  background-image: var(--primary-background-image);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  body {
    background-image: var(--phone-background-image);
  }
}
