:root {
  --primary-font: Arial, sans-serif;
  --primary-background-image: url(./winter-nature.jpeg);
}
body {
  font-family: var(--primary-font);
  background-image: var(--primary-background-image);
}
