:root {
  --primary-background-image: url(./winter-nature.jpeg);
}
body {
  background-image: var(--primary-background-image);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
