:root {
  --primary-font: Arial, sans-serif;
  --primary-color: #142d4c;
  --descriptive-color: #385170;
  --button-primary-color: #5c5470;
  --button-hover-color: #7c73e6;
}
.Weather {
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
.Weather h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 700;
  line-height: 50px;
}
.Weather h2 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 500;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-family: var(--primary-font);
  list-style-type: none;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 23px;
}
.Weather h1:hover,
h2:hover {
  color: var(--descriptive-color);
  cursor: pointer;
  transition-delay: 100ms;
}
.Weather .temperature {
  margin-top: 30px;
  margin-right: 20px;
}
.Weather .temperature img {
  margin-right: 15px;
}
.Weather .temperature strong {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 64px;
}
.Weather .temperature .units {
  color: var(--primary-color);
  position: relative;
  font-size: 16px;
  top: -34px;
}
.Weather .description {
  margin-top: 30px;
}
.Weather .btn-primary {
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
}
.Weather .btn-primary:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}
@media (max-width: 600px) {
  .Weather .btn {
    display: block;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .Weather .temperature strong {
    font-size: 46px;
  }
  .Weather .temperature img {
    width: 74px;
    height: 74px;
    margin-right: 0px;
  }
  .Weather .temperature .units {
    font-size: 12px;
  }
}
