:root {
  --primary-color: #5c715e;
  --secondary-color: #f6f6f6;
  --primary-font: Arial, sans-serif;
}
body {
  font-family: var(--primary-font);
}
.Weather {
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  background: var(--secondary-color);
}
.Weather h1 {
  color: var(--primary-color);
  font-weight: 200;
  line-height: 50px;
}
